    .clientTable{
    /* padding: 12px 8px!important;
    position: relative;
    font-size: 1em;
    border-top: 1px solid #DDD; */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    /* border-bottom: none;
    vertical-align: middle; */
    background-color: rgb(242, 244, 248);
    }

    /* .container{
    margin: 0;
    } */

    .clientTop {
        padding-bottom: 0.5%;
    }
    .clientData{
            padding-top: 5%;
    }
    .clientAvatar{
        position: center;
    }

.containeris {
  overflow: auto;
    /* background-color:#FFFFFF; */
    margin-left: 10rem;
    margin-right: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
  
}

svg{
    transform: rotate(-90deg)
}

    circle {
        fill: none;
        
        
    }
.underline{
stroke: grey;
stroke-width: 1;
}
.progress{
stroke: #007bff;
stroke-width: 3;

}
.danger{
stroke:#dc3545;
stroke-width: 3;
/* transition: .2s stroke-width ease-in-out; */
animation: blink .4s ease-out;
}
.warning{
    stroke: #ffc107;
stroke-width: 3;
}

@keyframes blink {
    0% { stroke-width: 3}
    10% { stroke-width: 6}
    100% { stroke-width: 3}
}


@media (min-width: 992px) {
.svgCircle{
        position: absolute;
    /* float: right; */
    display: inline-block;
    top: 60%;
    left: 90%;
}

.black{
    color: black;
              position: absolute;
    /* float: right; */
    display: inline-block;
    top: 65%;
    left: 84%;
}
.red{
    color: #dc3545;
              position: absolute;
    /* float: right; */
    display: inline-block;
    top: 65%;
    left: 84%;
}

}

.svgStyle{
    padding-top: 3%;
}
/* .cards{
    border-left-color: red;
} */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  border-radius: 8px;

}
.pointer:hover{
    cursor: pointer;
}

{/*ksjdksjkdjskjdksjdkjs*/}
.style_prevu_kit
  {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0% 0% 0% 0%;
    margin-left:5%;
  margin-bottom: 0.5%;
  background-color: white;
    display:inline-block;
    border:5px;
    width:90%;
    height:40px
      ;
    position: relative;
    -webkit-transition: all 500ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 500ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 500ms ease-in;
    -moz-transform: scale(1);
    transition: all 500ms ease-in;
    transform: scale(1);   

}
.c{
  padding: 20,30
}

@media only screen and (max-width: 600px) {
  .style_prevu_kit {
    width: 50%;
  }
}

.style_prevu_kit:hover
{
  cursor: pointer;
  color: rgb(58, 68, 58);
    z-index: 2;
    -webkit-transition: all 500ms ease-in;
    -webkit-transform: scale(0.5);
    -ms-transition: all 500ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 500ms ease-in;
    -moz-transform: scale(0.5);
    transition: all 200ms ease-in;
    transform: scale(0.995);
}


.nieco{
  background-color: rgb(242, 244, 248);
  border: none;
  margin-left:5%;
  width:1000px;
    height:50%;
    margin-bottom: 0%;
    padding: 0%;
}